/*
=======
FlexBox
=======
*/

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    position: relative;
    width: 100%;
}

@media (min-width: 992px) {
    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-lg-9 {
        -ms-flex: 0 0 75%;
        -webkit-box-flex: 0;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-lg-12 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.centerItem {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*
==========
EndFlexBox
==========
*/

/*
=====
Fonts
=====
*/

@font-face {
    font-family: 'iransans';
    src: url(fonts/IRANSansWeb.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'iransansbold';
    src: url(fonts/IRANSansWebBold.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'iransansblack';
    src: url(fonts/IRANSansWebBlack.ttf) format("truetype");
    font-style: normal;
}

/*
========
EndFonts
========
*/

p, a {
    font-family: "iransans", sans-serif;
    line-height: 150%;
    color: #898EA2;
}

h1, h2, h3 {
    font-family: "iransansblack", sans-serif;
    line-height: 150%;
    color: #464855;
}

h4, h5, h6 {
    font-family: "iransansbold", sans-serif;
    color: #464855;
}

a {
    text-decoration: none;
}

body {
    direction: rtl;
}

html {
    overflow-x: hidden;
}

/*
=============
Normalize css
=============
*/

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/*
=================
End Normalize css
=================
*/

/*
============
START Header
============
*/

nav {
    display: inline-flex;
    margin-top: 30px;
}

nav a {
    padding-left: 40px;
}

nav a p {
    font-size: 14px !important;
}

header img {
    width: 100%;
}

header h4 {
    font-size: 32px;
    padding-top: 40%;
    margin-bottom: 15px;
}

header h1 {
    font-size: 45px;
    color: #FECE47;
    margin-bottom: 50px;
}

header p:last-of-type {
    font-size: 15px;
}

.headerImage {
    position: absolute;
    left: 0;
    top: 0;
}

header {
    padding-bottom: 30%;
}

/*
==========
END Header
==========
*/

/*
==========
Start Section1
==========
*/

#skill {
    padding-bottom: 10%;
}

.skillTitr h1 {
    font-size: 30px;
    padding-bottom: 10px;
}

.skillTitr hr {
    width: 20%;
    position: absolute;
    right: 0;
    bottom: 0;
    border: #FECE47 3px solid;
    border-radius: 50px;
}

.skillDesc p {
    font-size: 15px;
    text-align: justify;
}

.skillTop {
    margin-bottom: 50px;
}

.skillCont {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #898EA2 solid 1px;
    padding: 30px 40px 100px 60px;
}

.skillCont h1 {
    font-size: 60px;
}

.skillCont h4 {
    font-size: 17px;
}

/*
============
END Section1
============
*/

/*
==============
START Section2
==============
*/

#why {
    background-color: #F6F8FC;
    padding-top: 15%;
    padding-bottom: 5%;
}

.whycon p {
    padding-bottom: 40px;
    font-size: 14px;
}

.whycon h4 {
    font-size: 18px;
}

.whyTitr hr {
    width: 20%;
    position: absolute;
    right: 0;
    border: #FECE47 3px solid;
    margin-top: 0;
    border-radius: 50px;
}

.whytitr h1 {
    margin-bottom: 0;
    font-size: 30px;
    padding-bottom: 0;
}

/*
============
END Section2
============
*/

/*
==============
START Section3
==============
*/

#sample {
    margin-top: 70px;
    padding-bottom: 150px;
}

.sampleTitr {
    padding-bottom: 60px;
}

.sampleSlide a {
    font-family: "iransansblack", sans-serif;
    color: #Ffffff;
    position: absolute;
    background-color: #333333;
    padding: 15px 30px;
    z-index: 2;
    right: 30%;
    top: 35%;
    display: none;
    animation: slide 0.5s;
}

/*
============
END Section3
============
*/

/*
==============
START Section4
==============
*/

#comment {
    padding-bottom: 100px;
}

.commentcon {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #898EA2 solid 1px;
    padding: 40px 60px 50px 40px;
}

.commentcon h4 {
    font-size: 18px;
}

.commentcon h5 {
    font-size: 14px;
}

.commentcon p {
    font-size: 15px;
}

/*
============
END Section4
============
*/

/*
==============
START Section5
==============
*/

.logo {
    padding-bottom: 70px;
}

.logoImg img {
    height: 60%;
    text-align: center;
}

.logoImg {
    text-align: center;
}

.logoCen {
    justify-content: center;
}

/*
============
END Section5
============
*/

/*
==============
START Section6
==============
*/

.contact {
    background-color: #FECE47;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 100px;
}

.contactTitr hr {
    width: 20%;
    position: absolute;
    right: 0;
    border: #464855 3px solid;
    border-radius: 50px;
}

.contactTitr h1 {
    padding-top: 20px;
    font-size: 30px;
    margin-bottom: 0;
}

.sampleBtn a {
    font-size: 15px;
    color: #Ffffff;
    padding: 15px 60px;
    background-color: #333333;
    font-family: "iransansblack", sans-serif;
    border: 2px solid #333333;
}

.sampleBtn {
    text-align: left;
}


/*
============
END Section6
============
*/

/*
============
START Footer
============
*/

footer {
    margin-bottom: 100px;
}

.footerInfo h1 {
    font-size: 18px;
    letter-spacing: -2px;
}

.footerInfo p {
    font-size: 15px;
}

.footerSocial img {
    width: 25px;
}

.footerSocial a {
    margin-left: 60px;
}

.footerSocial {
    float: left;
}

/*
==========
END Footer
==========
*/

/* ===Responsive=== */

@media (max-width: 1200px) {
    header h4 {
        padding-top: 25%;
    }

    .sampleSlide a {
        right: 25%;
        top: 30%;
    }
}

@media (max-width: 992px) {
    .headerImage {
        position: unset;
    }

    header h4 {
        padding-top: 0;
    }

    header {
        text-align: center;
    }

    .skillCont, .commentcon {
        margin-bottom: 30px;
    }

    .whycon:first-child {
        margin-top: 50px;
    }

    .sampleBtn {
        text-align: center;
        padding-bottom: 30px;
    }

    .footerSocial {
        float: none;
        text-align: center;
    }

    .footerInfo p {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .sampleSlide a {
        right: 20%;
        top: 20%;
    }
}

@media (max-width: 576px) {
    nav {
        display: none;
    }

    header h4 {
        font-size: 25px;
    }

    header h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    header p:last-of-type {
        font-size: 12px;
    }

    .sampleSlide a {
        right: 30%;
        top: 35%;
    }

    .contactTitr h1 {
        font-size: 20px;
    }

    .footerSocial a {
        margin-left: 20px;
    }
}

/* ===Hover=== */

.sampleSlide img, .sampleSlide a, nav a p, .skillCont, .commentcon, .logoImg img,
.sampleBtn a, .footerSocial img {
    transition-duration: 0.3s;
}

.sampleSlide:hover img {
    opacity: 0.5;
}

.sampleSlide:hover a {
    display: inline-block;
}

@keyframes slide {
    15% {
        top: 15%;
    }
}

nav a p:hover {
    color: #464855;
}

.skillCont:hover, .commentcon:hover {
    background-color: #FECE47;
}

.logoImg img:hover, .footerSocial img:hover {
    transform: scale(1.5);
}

.sampleBtn a:hover {
    background-color: unset;
    color: #333333;
}
